<h3>Nova Candidatura</h3>

<form method="post" action="/candidatura/novo/salvar">

  <div class="row">
    <div class="col-md-6">
      <label>Estudante</label>
      <select name="estudante" class="form-control">
        {{#each estudantes}}
          <option value="{{this.id}}">
            {{this.nome}} - {{this.email}}
          </option>
        {{/each}}
      </select>
    </div>

    <div class="col-md-6">
      <label>Vaga</label>
      <select name="vaga" class="form-control">
        {{#each vagas}}
          <option value="{{this.id}}">
            {{this.titulo}} - {{this.empresa.nome}}
          </option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="mt-4">
    <button class="btn btn-primary">Salvar</button>
    <a href="/candidatura" class="btn btn-secondary">Cancelar</a>
  </div>

</form>
